body{
	width: 100%;
	height: 100%;
	margin: 0% 1% 0% 1%;
	background-image: url(../img/shelf-bg.jpg);
}

nav{
	margin-top: 217px;
	background: black;
	opacity: 0.7;
	height: 80px;
}

#display-4{
	color: white;
	font-weight: 400;
	padding-left: 70px;
}

#lead{
	color: white;
	font-weight: 400;
	padding-left: 70px;
	font-size: 23px;
}

.jumbotron{
	margin: 0;
	margin-left: 0;
	background-image: url(../img/header-01.jpg);
	background-size: cover;
	height: 480px;
	width: 98%;
	color: #d9d9d9;
	border-bottom: 10px #004d99 solid;
	text-shadow: 2px 2px 4px #000000;
}

#jumbo{
	width: 100%;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.nav-link{
	color: white;
	font-size: 20px;
	font-weight: 600;
}

#nav:hover{
	color: #b3d1ff;
}

.active{
	color: #b3d1ff;
}

#nav{
	padding: 2.4% 6% 0 6%;
}

#a-cont{
	background: white;
	color: #4d4d4d;
	padding-left: 40px;
}

#page{
	margin-top: 60px;
	background: white;
}

#active{
	color: white;
	background: #004d99;
}

#plink{
	color: black;
	background: #ccc;
}

#plink:hover{
	background: #004d99;
	color: white;
}

#links{
	margin-bottom: 0;
}

#shree{
	color: black;
}

#shree:hover{
	text-decoration: none;
	color: #33adff;
}

.page-item{
	padding-left: 10px;
}

figcaption{
	font-size: 18px;
	text-align: center;
	padding-top: 15px;
}

#b-cont{
	background: #076599;
	color: white;
}

.aside{
	padding-top: 5%;
	width: 100%;
	height: 330px;
	padding-right: 3%;
	padding-left: 25%;
	font-size: 20px;
}

button{
	background: #076599;
	padding: 10px 15px;
	color: white;
	text-decoration: none;
	border: 1px solid white;
}

button:hover{
	background: white;
	color: #076599;
}

.fa-meetup{
	float: left;
	height: 300px;
	padding-top: 7%;
	padding-left: 10%;
	font-size: 7em;
}

footer{
	background: #333;
	color: white;
	font-size: 18px;
	padding: 17px 28% 13px 28%; 
}

footer p{
	margin-bottom: 0;
}

footer p a{
	text-decoration: none;
	color: white;
}

footer p a:hover{
	text-decoration: none;
	color: #ffff4d;
}

#left-side, #right-side{
	font-size: 20px;
}

#left-side{
	padding-left: 0;
	padding-right: 50px;
}

#right-side{
	background: #076599;
	color: white;
	height: 450px;
	padding-top: 50px;
	margin-top: 30px;
	padding-left: 30px;
}

.fa-linode, .fa-telegram, .fa-superpowers{
	font-size: 7rem;
	padding-left: 90px;
	color: #076599;
}

.col-4 p{
	font-size: 22px;

}

#descrip{
	font-size: 20px;
}

#c-cont{
	background: #076599;
	color: white;
	font-size: 20px;
	padding: 40px;
}

#c-cont .col-6 p{
	font-size: 20px;
	font-weight: 300;
}

#c-cont .col-6 h3{
	font-weight: 300;
}

#c-cont .col-6{
	padding: 5px;
}

#d-cont{
	font-size: 20px;
	font-weight: 400;
}

#d-cont h3{
	color: #076599;
	font-weight: 400;
}

input{
	width: 100%;
	height: 50px;
}

::placeholder{
	font-size: 20px;
	opacity: 0.8;
	padding-left: 10px;
}

textarea{
	width: 100%;
	height: 200px;
}

form button{
	color: white;
	font-size: 20px;
	margin-left: 64%;
	padding: 10px 50px;
	margin-top: 10px;
}

form{
	width: 88%;
}

#lrow{
	padding-left: 0;
}

#rrow{
	padding-left: 0;
	font-size: 20px;
	font-weight: 400;
}

#rrow p{
	margin-bottom: 0;
}

.empty{
	background: #e6e6e6;
	width: 100%;
	height: 350px;
}

#pre p{
	margin-bottom: 10px;
	color: #076599;
}

#pre p a{
	text-decoration: none;
	color: #076599;
}

#pre p a:hover{
	color: #076599;
}

.preview{
	background: #e6e6e6;
	color: #076599;
	padding: 10px 40px;	
}

.download{
	padding: 10px 40px;
}